
@using WebApplication1.Models
@model WebApplication1.ViewModels.HomeIndexViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Restaurants</title>
</head>
<body>
    <table>
        @foreach (Restaurant rest in Model.Restaurants)
        {
            <tr>
                <td>@rest.Name</td>
            </tr>
        }
    </table>
</body>
</html>